<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> CoCo - {{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>
    {% include 'Includes/_navbar.html' %}
     <div class="container">
         {% include 'includes/_messages.html' %}
         {% block content %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"> </script>
</body>
</html>
